
.footer__inner {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    position: relative;
    a {
        &:after {
            display: none;
        }
    }
    &:after {
        content: '';
        display: block;
        // width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
    }
}

.footer-inner__item {
    display: flex;
    flex-direction: column;
    h4 {
        text-transform: uppercase;
        color: $grey-font-color;
        margin-bottom: 20px;
    }
    h5 {
        color: $red-font-color;
        font-size: 17px;
        margin-bottom: 6px;
    }
    .header-contacts {
        a {
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
    .main-content__social {
        margin-bottom: 30px;
    }
    .main-content__present2 {
        margin-bottom: 8px;
    }
}

.footer-inner-item__list {
    display: flex;
    a {
        font-weight: normal;
    }
}

.footer-inner-item__list {
    ul {
        margin-top: 0;
        margin-right: 40px;
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }
}

.footer__bottom-line {
    margin-top: 90px;
    color: $grey-font-color;
    font-size: 14px;
}

.footer-inner-item__list.mobile {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s linear;
}

.burger-menu__btn.mobile {
    width: fit-content;
    &:after {
        border: none;
        color: $red-font-color;
        font-size: 9px;
    }
}

.footer__inner.mobile:before {
    content: '';
    display: block;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
}

@media (max-width: 1490px) {
    .footer__inner {
        margin-top: 25px;
        &:after {
            bottom: 30px;
        }
    }
    .footer-inner__item h4 {
        margin-bottom: 10px;
    }
    .footer-inner-item__list ul li {
        margin-bottom: 5px;
    }
    .footer-inner-item__list ul {
        margin-bottom: 20px;
    }
    .footer-inner__item .header-contacts a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-inner__item .main-content__social {
        margin-bottom: 15px;
    }
    .footer__bottom-line {
        margin-top: 25px;
    }

}

.footer__inner.mobile {
    flex-direction: column;
    margin-top: 50px;
    &:after {
        bottom: 85px;
    }
}

@media (max-width: 1090px) {
    .footer.main {
        display: none;
    }
}