
// ======= Production =======

.production {
    padding-top: 80px;
}

.production__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 270px));
    grid-auto-rows: 190px;
}

.production__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s linear;
    &:hover {
        box-shadow: 0px 0px 20px $red-font-color;
        border-radius: 5px;
        p {
            color: $red-font-color;
        }
    }
    p {
        width: 200px;
        text-align: center;
        font-weight: normal;
        transition: 0.2s linear;
    }
}