
// ======= Production =======

.production {
    padding-top: 40px;
}

.production__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 270px));
    grid-auto-rows: 190px;
}

.production__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 20px $red-font-color;
        border-radius: 5px;
        p {
            color: $red-font-color;
        }
    }
    p {
        width: 200px;
        text-align: center;
        font-weight: normal;
        transition: 0.2s linear;
    }
}

@media (max-width: 1090px) {
    .production {
        padding-top: 20px;
    }
    .production__item {
        flex-direction: row;
    }
    .production__item img {
        width: 100%;
        max-width: 130px;
        padding-right: 20px;
    }
    .production__item p {
        text-align: left;
    }
    .production__items {
        grid-auto-rows: 130px;
        margin-top: 20px;
        grid-column-gap: 30px;
    }
}