$main-bgcolor: #242426;
$main-font: 'Montserrat', sans-serif;
$main-font-color: #FFFFFF;
$red-font-color: #E41E24;
$light-grey-font-color: #F2F2F2;
$grey-font-color: #808080;

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: $main-font;
}

body {
	font-family: $main-font;
	color: $main-font-color;
	font-size: 17px;
	font-weight: 500;
	margin: 0;
	// -webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-tap-highlight-color: transparent;
  background-color: $main-bgcolor;
  overflow-x: hidden;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto; 
	padding: 0 10px;
	position: relative;
		&.plus {
			padding-left: 110px;
		}
}

h1 {
	font-family: $main-font;
	font-weight: bold;
	font-size: 100px;
  color: $red-font-color;
  line-height: 1;
}

h2 {
	font-family: $main-font;
	font-weight: bold;
	font-size: 50px;
	color: $main-font-color;
}

h3 {
	font-family: $main-font;
	font-weight: bold;
	font-size: 31px;
	color: $red-font-color;
}

p {
	font-family: $main-font;
	padding: 0;
	margin: 0;
	color: $main-font-color;
	font-weight: 500;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: $main-font;
	color: $main-font-color;
	position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 2px;
			background-color: $red-font-color;
			bottom: -4px;
		}
}

ul {
	list-style-type: none;
}

button {
	padding: 14px 23px;
	background-color: $red-font-color;
	border-radius: 50px;
	border: none;
	color: $main-font-color;
	cursor: pointer;
	transition: 0.2s linear;
	outline: none;
	white-space: nowrap;
}

.bg-slider__item {
	height: 100vh;
	background: url(../img/main-bg.png) center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.sidebar {
	position: absolute;
	width: 34%;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(36, 36, 38, 0.8);
}


// Animated Arrow 

$black: #666;
$white: #ffffff;
$gray: #999;

$text-arrow-space: 16px;
$shaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;



.the-arrow {
  width: $shaft-width;
  transition: all 0.2s;
 
  &.-left {
    position: absolute;
    top: 60%;
    left: 0;

    > .shaft {
      width: 0;
      background-color: $gray;
      
      &:before,
      &:after {
        width: 0;
        background-color: $gray;
      }

      &:before {
        transform: rotate(0);
      }

      &:after {
        transform: rotate(0);
      }
    }
  }
  
  &.-right {
    top: 3px;
    
    > .shaft {
      width: 30px;
      transition-delay: 0.2s;

      &:before,
      &:after { 
        width: $arrow-head-width;
        transition-delay: 0.3s;
        transition: all 0.5s;
      }
      
      &:before {
        transform: rotate(40deg);
      }
      
      &:after {
        transform: rotate(-40deg);
      }
    }
  }

  > .shaft {
    background-color: $gray;
    display: block;
    height: $shaft-thickness;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;

    &:before,
    &:after {
      background-color: $gray;
      content: '';
      display: block;
      height: $arrow-head-thickness;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.2s;
      transition-delay: 0;
    }

    &:before {
      transform-origin: top right;
    }

    &:after {
      transform-origin: bottom right;
    }
  }
}

.animated-arrow {
  display: inline-block;
  color: $gray;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
	&:after {
		display: none;
	}
  
  &:hover {
    color: $white;
    
    > .the-arrow.-left {
      > .shaft {
        width: 30px;
        transition-delay: 0.1s;
        background-color: $white;

        &:before,
        &:after {
          width: $arrow-head-width;
          transition-delay: 0.1s;
          background-color: $white;
        }

        &:before {
          transform: rotate(40deg);
        }

        &:after {
          transform: rotate(-40deg);
        }
      }
    }
    
    > .main {
      transform: translateX(50px);
      
      > .the-arrow.-right {
        > .shaft {
          width: 0;
          transform: translateX(150%);
          transition-delay: 0;
          
          &:before,
          &:after {
            width: 0;
            transition-delay: 0;
            transition: all 0.1s;
          }

          &:before {
            transform: rotate(0);
          }

          &:after {
            transform: rotate(0);
          }
        }
      }
    }
  }
  
  > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    
    > .text {
      margin: 0 $text-arrow-space 0 0;
	  line-height: 1;
	  position: relative;
	  cursor: pointer;
	  &:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $red-font-color;
		bottom: -4px;
	}
    }
    
    > .the-arrow {
      position: relative;
    }
  }
}

.slider__counter {
  display: flex;
}

.slider__item {
  width: 100%;
  height: 100%;
  background-size: cover!important;
  background-position: center!important;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .slick-arrow {
    position: absolute;
    bottom: 19%;
    z-index: 2;
    width: 3rem;
    // height: 3rem;
    // transform: translateY(-50%);
    padding: 0;
    // overflow: hidden;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // border: 2px solid #fff;
    border-radius: none;
    cursor: pointer;
    outline: none;
    transition: 0.25s;
    
    &:hover,
    &:focus {
      border-color: #F08A5D;
    }
    
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
    
  .slick-prev {
    right: 26.5%;
      &:before {
        content: '\e900';
        font-family: 'icomoon';
        font-size: 14px;
        transform: rotate(180deg);
        position: absolute;
      }
  }

  .slick-next {
    right: 19%;
    // right: 10vw;
      &:before {
        content: '\e900';
        font-family: 'icomoon';
        font-size: 14px;
        position: absolute;
      }
  }
}

.arrows.serv {
  display: flex;
  position: absolute;
  bottom: 13%;
  /* right: 18%; */
  width: 100%;
  height: 60px;
  justify-content: space-between;
  left: 42px;
  cursor: pointer;
  color: $grey-font-color;
}

.arrow-back.serv {
    &:before {
      content: '\e900';
      font-family: 'icomoon';
      font-size: 14px;
      transform: rotate(180deg);
      position: absolute;
      z-index: 10;
      left: -40px;
      cursor: pointer;
      top: 3px;
      color: $grey-font-color;
      /* bottom: 24px; */
    }
}

.arrow-forward.serv {
    &:before {
      content: '\e900';
      font-family: 'icomoon';
      font-size: 14px;
      position: absolute;
      z-index: 10;
      /* bottom: 24px; */
      right: -40px;
      cursor: pointer;
      top: 3px;
      color: $grey-font-color;
    }
}

.arrows.main.cart{
  position: absolute;
  bottom: -18%;
  right: 20.5%;
  width: 200px;
  height: 60px;
}

.arrows.main.portfolio{
  position: absolute;
  bottom: -7%;
  right: 40%;
  width: 200px;
  height: 60px;
}

.arrows.main{
  position: absolute;
  bottom: 15%;
  right: 18%;
  width: 200px;
  height: 60px;
}

.arrow-back.main{
    &:before {
      content: '\e900';
      font-family: 'icomoon';
      font-size: 14px;
      transform: rotate(180deg);
      position: absolute;
      z-index: 10;
      bottom: 24px;
      left: 22px;
      cursor: pointer;
    }
}

.arrow-forward.main{
    &:before {
      content: '\e900';
      font-family: 'icomoon';
      font-size: 14px;
      position: absolute;
      z-index: 10;
      bottom: 24px;
      right: 22px;
      cursor: pointer;
    }
}

.slider__item {
  position: relative;
  height: 100vh;
    
  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.portfolio__slider2 .slider__counter {
  bottom: -28%;
  right: 71.5%;
}

.cart__left .slider__counter {
  bottom: -21%;
  right: -9%;
}

.slider__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15%;
  right: 18%;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  background-color: rgba(36, 36, 38, 0.8);
  width: 200px;
  height: 60px;
}

.slider__item {
  position: relative;
}

.slider-current {
  font-size: 35px;
  margin-right: 8px;
  padding-bottom: 5px;
} 

.slider-slash {
  font-weight: 300;
  font-size: 20px;
} 

.slider-count {
  font-weight: 300;
  text-decoration: underline;
  font-size: 20px;
  margin-left: 5px;
} 

header nav {
  background-color: $main-bgcolor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 15;
}

header nav ul h2 {
  margin-bottom: 30px;
  white-space: nowrap;
}

header nav ul {
  margin-right: 100px;
  // list-style-type: none;
  // padding: 0;
  // margin: 0;
  // position: absolute;
  // // left: 110px;
  // top: 170px;
  // -webkit-transition: all 0.3s ease-in-out;
  // transition: all 0.3s ease-in-out;
  // -webkit-transform: translateX(-50%);
  //         transform: translateX(-50%);
}

.burger-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  // left: 110px;
  top: 170px;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-menu1 {
  left: 110px!important;
}

.burger-menu2 {
  left: 210px!important;
}

.burger-menu4 .header-contacts {
  margin-top: 10px;
  margin-bottom: 40px;
    a {
      margin-bottom: 5px;
    }
}

header nav ul li {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
header nav ul li a {
  display: block;
  font-size: 17px;
  text-decoration: none;
  padding: 10px 0;
  text-align: left;
  color: $grey-font-color;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    &:after {
      display: none;
    }
}
header nav ul li a:hover {
  color: $red-font-color;
}

.toggle-btn {
  display: block;
  // position: fixed;
  z-index: 16;
  left: 10px;
  top: 10px;
  cursor: pointer;
  margin-right: 70px;
}
.toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.toggle-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
}
#toggle:checked ~ nav ul {
  top: 70px;
}
#toggle:checked ~ nav ul li {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
// #toggle:checked ~ nav ul li:nth-child(1) {
//   -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
//   transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
// }
// #toggle:checked ~ nav ul li:nth-child(2) {
//   -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
//   transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
// }
// #toggle:checked ~ nav ul li:nth-child(3) {
//   -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
//   transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
// }
// #toggle:checked ~ nav ul li:nth-child(4) {
//   -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
//   transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
// }
#toggle:checked + label.toggle-btn .bar {
  background-color: red;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.sidebar-right {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 110;
  width: 0;
  right: 0;
  background-color: $main-bgcolor;
  // transform: translate(100%);
  transition: 0.2s linear;
  overflow: hidden;
}

.sidebar-right.open {
  width: 36%;
}

.sidebar-right__inner {
  padding: 65px 50px;
    h2 {
      white-space: nowrap;
      color: $red-font-color;
    }
    form {
      margin-top: 100px;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      color: $main-font-color;
        input {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $red-font-color;
          outline: none;
          position: relative;
          color: $main-font-color;
          font-family: $main-font;
          margin-bottom: 40px;
          padding-bottom: 10px;
          width: 80%;
          &::placeholder {
            color: $main-font-color;
          }
        }
        textarea {
          background-color: transparent;
          font-family: $main-font;
          border: 2px solid $red-font-color;
          outline: none;
          position: relative;
          color: $main-font-color;
          resize: none;
          margin-bottom: 40px;
          height: 150px;
          padding: 10px;
          &::placeholder {
            color: $main-font-color;
          }
        }
        label {
          border-bottom: 2px solid $red-font-color;
          width: 165px;
          padding-bottom: 5px;
          margin-left: 10px;
        }
    }
}

#file-input {
  display: none;
}

.form-submit {
  display: flex;
  white-space: pre-wrap;
  margin-top: 30px;
    button {
      border: 3px solid $red-font-color;
      background-color: transparent;
      margin-right: 20px;
      width: 100%;
      max-width: 290px;
      font-size: 25px;
    }
    p {
      font-weight: normal;
      font-size: 15px;
    }
    a {
      font-size: 15px;
      text-decoration: underline;
      text-decoration-color: $red-font-color;
      &::after {
        display: none;
      }
    }
}

.page {
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .5s;
  padding-top: 60px;
}
.page.active {
  z-index: 1;
  opacity: 1;
}

.index_page-container {
  position: fixed;
  width: 10px;
  height: 300px;
  left: 50px;
  top: 100px;
  background-color: #ccc;
  transition: .5s;
  z-index: 2;
}

.index_page-container {
  display: none;
}

// ====== Главная страница =====

@import 'header';
@import 'main-content';

// ====== Production =====

@import 'production';

// ====== Servise =====

@import 'servise';

// ====== Cart =====

@import 'cart';

// ====== Portfolio =====

@import 'portfolio';

// ====== News =====

@import 'news';

// ====== Footer =====

@import 'footer';