:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background-color: #242426;
  overflow-x: hidden;
  width: 100%;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.container.plus {
  padding-left: 110px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: #E41E24;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 31px;
  color: #E41E24;
}

p {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-weight: 500;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #E41E24;
  bottom: -4px;
}

ul {
  list-style-type: none;
}

button {
  padding: 14px 23px;
  background-color: #E41E24;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s linear;
  outline: none;
  white-space: nowrap;
}

.bg-slider__item {
  height: 100vh;
  background: url(../img/main-bg.png) center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar {
  position: absolute;
  width: 34%;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(36, 36, 38, 0.8);
}

.the-arrow {
  width: 64px;
  transition: all 0.2s;
}

.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}

.the-arrow.-left > .shaft {
  width: 0;
  background-color: #999;
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #999;
}

.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}

.the-arrow.-right {
  top: 3px;
}

.the-arrow.-right > .shaft {
  width: 30px;
  transition-delay: 0.2s;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}

.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}

.the-arrow > .shaft {
  background-color: #999;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #999;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}

.the-arrow > .shaft:before {
  transform-origin: top right;
}

.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #999;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

.animated-arrow:after {
  display: none;
}

.animated-arrow:hover {
  color: #ffffff;
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 30px;
  transition-delay: 0.1s;
  background-color: #ffffff;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #ffffff;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}

.animated-arrow:hover > .main {
  transform: translateX(50px);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(150%);
  transition-delay: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}

.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
  position: relative;
  cursor: pointer;
}

.animated-arrow > .main > .text:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #E41E24;
  bottom: -4px;
}

.animated-arrow > .main > .the-arrow {
  position: relative;
}

.slider__counter {
  display: flex;
}

.slider__item {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider .slick-arrow {
  position: absolute;
  bottom: 19%;
  z-index: 2;
  width: 3rem;
  padding: 0;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: none;
  cursor: pointer;
  outline: none;
  transition: 0.25s;
}

.slider .slick-arrow:hover, .slider .slick-arrow:focus {
  border-color: #F08A5D;
}

.slider .slick-arrow:active {
  transform: translateY(-50%) scale(0.9);
}

.slider .slick-prev {
  right: 26.5%;
}

.slider .slick-prev:before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 14px;
  transform: rotate(180deg);
  position: absolute;
}

.slider .slick-next {
  right: 19%;
}

.slider .slick-next:before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
}

.arrows.serv {
  display: flex;
  position: absolute;
  top: 650px;
  /* right: 18%; */
  width: 100%;
  height: 60px;
  justify-content: space-between;
  left: 42px;
  cursor: pointer;
  color: #808080;
}

.arrow-back.serv:before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 14px;
  transform: rotate(180deg);
  position: absolute;
  z-index: 10;
  left: -40px;
  cursor: pointer;
  top: 3px;
  color: #808080;
  /* bottom: 24px; */
}

.arrow-forward.serv:before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  z-index: 10;
  /* bottom: 24px; */
  right: -40px;
  cursor: pointer;
  top: 3px;
  color: #808080;
}

.arrows.main.cart {
  position: absolute;
  bottom: -18%;
  right: 20.5%;
  width: 200px;
  height: 60px;
}

.arrows.main.portfolio {
  position: absolute;
  bottom: -7%;
  right: 40%;
  width: 200px;
  height: 60px;
}

.arrows.main {
  position: absolute;
  bottom: 15%;
  right: 18%;
  width: 200px;
  height: 60px;
}

.arrow-back.main:before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 14px;
  transform: rotate(180deg);
  position: absolute;
  z-index: 10;
  bottom: 24px;
  left: 22px;
  cursor: pointer;
}

.arrow-forward.main:before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  z-index: 10;
  bottom: 24px;
  right: 22px;
  cursor: pointer;
}

.slider__item {
  position: relative;
  height: 100vh;
}

.slider__item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.portfolio__slider2 .slider__counter {
  bottom: -28%;
  right: 71.5%;
}

.cart__left .slider__counter {
  bottom: -21%;
  right: -9%;
}

.slider__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15%;
  right: 18%;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  background-color: rgba(36, 36, 38, 0.8);
  width: 200px;
  height: 60px;
}

.slider__item {
  position: relative;
}

.slider-current {
  font-size: 35px;
  margin-right: 8px;
  padding-bottom: 5px;
}

.slider-slash {
  font-weight: 300;
  font-size: 20px;
}

.slider-count {
  font-weight: 300;
  text-decoration: underline;
  font-size: 20px;
  margin-left: 5px;
}

header nav {
  background-color: #242426;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 15;
}

header nav ul h2 {
  margin-bottom: 30px;
  white-space: nowrap;
}

header nav ul {
  margin-right: 20px;
}

.burger-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 170px;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
  width: 90%;
}

.burger-menu1 {
  left: 110px !important;
}

.burger-menu2 {
  left: 210px !important;
}

.burger-menu4 .header-contacts {
  margin-top: 10px;
  margin-bottom: 40px;
}

.burger-menu4 .header-contacts a {
  margin-bottom: 5px;
}

header nav ul li {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}

header nav ul li a {
  display: block;
  font-size: 17px;
  text-decoration: none;
  padding: 10px 0;
  text-align: left;
  color: #808080;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header nav ul li a:after {
  display: none;
}

header nav ul li a:hover {
  color: #E41E24;
}

.toggle-btn {
  display: block;
  z-index: 16;
  left: 10px;
  top: 10px;
  cursor: pointer;
  margin-right: 70px;
}

.toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

.toggle-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
}

#toggle:checked ~ nav ul {
  top: 70px;
}

#toggle:checked ~ nav ul li {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

#toggle:checked + label.toggle-btn .bar {
  background-color: red;
}

#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
}

#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.sidebar-right {
  position: absolute;
  top: 0;
  z-index: 110;
  width: 0;
  right: 0;
  background-color: #242426;
  transition: 0.2s linear;
  overflow: hidden;
}

.sidebar-right.open {
  width: 36%;
}

.sidebar-right__inner {
  padding: 65px 50px;
}

.sidebar-right__inner h2 {
  white-space: nowrap;
  color: #E41E24;
}

.sidebar-right__inner form {
  margin-top: 100px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.sidebar-right__inner form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #E41E24;
  outline: none;
  position: relative;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: 80%;
}

.sidebar-right__inner form input::placeholder {
  color: #FFFFFF;
}

.sidebar-right__inner form textarea {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #E41E24;
  outline: none;
  position: relative;
  color: #FFFFFF;
  resize: none;
  margin-bottom: 40px;
  height: 150px;
  padding: 10px;
}

.sidebar-right__inner form textarea::placeholder {
  color: #FFFFFF;
}

.sidebar-right__inner form label {
  border-bottom: 2px solid #E41E24;
  width: 165px;
  padding-bottom: 5px;
  margin-left: 10px;
}

#file-input {
  display: none;
}

.form-submit {
  display: flex;
  white-space: pre-wrap;
  margin-top: 30px;
}

.form-submit button {
  border: 3px solid #E41E24;
  background-color: transparent;
  margin-right: 20px;
  width: 100%;
  max-width: 290px;
  font-size: 25px;
}

.form-submit p {
  font-weight: normal;
  font-size: 15px;
}

.form-submit a {
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: #E41E24;
}

.form-submit a::after {
  display: none;
}

.page {
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .5s;
  padding-top: 60px;
}

.page.active {
  z-index: 1;
  opacity: 1;
}

.index_page-container {
  position: fixed;
  width: 10px;
  height: 300px;
  left: 50px;
  top: 100px;
  background-color: #ccc;
  transition: .5s;
  z-index: 2;
}

.index_page-container {
  display: none;
}

.burger-menu__item {
  margin-top: 0;
}

.burger-menu4 {
  margin-top: 0;
}

.buttons {
  display: none;
}

.sidebar-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

@media (max-width: 1490px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 70px;
  }
  .container {
    max-width: 1250px;
  }
  .slider__counter {
    right: 10%;
  }
  .arrows.main {
    right: 10%;
  }
  .burger-menu {
    top: 120px;
  }
  h2 {
    font-size: 40px;
  }
  .sidebar-right__inner {
    padding: 40px 50px;
  }
  .sidebar-right__inner form {
    margin-top: 30px;
  }
  .sidebar-right__inner form input {
    margin-bottom: 30px;
  }
  .sidebar-right__inner form textarea {
    height: 110px;
    margin-bottom: 25px;
  }
  .form-submit p {
    font-size: 12px;
  }
  .form-submit a {
    font-size: 12px;
  }
  .form-submit button {
    font-size: 14px;
    height: 45px;
    padding: 0px 23px;
  }
  .header-link ul {
    padding: 0 15px;
  }
  .arrows.serv {
    top: 525px;
  }
}

@media (max-width: 1290px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1090px) {
  .sidebar {
    display: none;
  }
  .toggle-btn {
    margin-right: 20px;
  }
  .container {
    padding: 0 20px;
  }
  h3 {
    font-size: 26px;
  }
  .slider__item {
    max-height: 250px;
  }
  .slider {
    position: static;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container.plus {
    padding-left: 20px;
  }
  .arrows.main {
    right: auto;
    top: 345px;
  }
  .slider__counter {
    right: auto;
    top: 345px;
    width: 100%;
  }
  .arrows-items {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 30px;
  }
  .arrows.main.cart {
    right: auto;
    top: 110%;
  }
  .burger-menu4 .header-contacts {
    display: flex;
    margin-bottom: 0;
  }
  .burger-menu4 .main-content__social {
    display: flex;
  }
  .burger-menu4 .main-content__special {
    height: 100px;
    width: 100%;
  }
  .burger-menu4 .header-button {
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  header nav ul {
    margin-right: 20px;
  }
  header nav {
    overflow: auto;
    top: 90px;
  }
  .burger-menu {
    flex-direction: column;
    top: 0;
    margin-top: 10px;
  }
  .burger-menu h2 {
    font-size: 17px;
    text-transform: uppercase;
  }
  .sidebar-right__inner {
    padding: 20px 20px;
  }
  .sidebar-right {
    height: 1000%;
    z-index: 2000;
  }
  .sidebar-right.open {
    width: 100%;
  }
  .sidebar-right.open h2 {
    font-size: 27px;
  }
  .burger-menu__list {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s linear;
  }
  .burger-menu__btn {
    position: relative;
    width: 100%;
    max-width: 250px;
  }
  .burger-menu__btn:after {
    content: '\e900';
    font-family: 'icomoon';
    font-size: 7px;
    transform: rotate(90deg);
    position: absolute;
    right: -40px;
    bottom: -5px;
    transition: 0.2s linear;
    border: 2px solid #E41E24;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger-menu__btn.active:after {
    transform: rotate(-90deg);
    right: -40px;
    bottom: -5px;
    transition: 0.2s linear;
  }
  header {
    position: relative;
    z-index: 200;
    background-color: #242426;
  }
  header nav ul li a {
    padding: 3px 0;
  }
  .burger-menu4 .header-contacts a {
    width: fit-content;
  }
  .buttons {
    display: block;
  }
  .buttons.main {
    display: none !important;
  }
}

.buttons {
  margin-top: 25px;
  text-align: center;
  border-radius: 30px;
  height: 48px;
  overflow: hidden;
}

.buttons.main {
  display: block;
  overflow: visible;
  margin-top: 10px;
  position: relative;
  z-index: 1000;
}

.buttons.main .blob-btn {
  padding: 15px 45px;
  width: auto;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 15px 45px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #E41E24;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 4.5px;
  top: 4.5px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 3px;
  width: 25%;
  height: 100%;
  background: #E41E24;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

.header-mob__burg-btn {
  padding: 10px 0;
  cursor: pointer;
  margin-right: 70px;
}

.header-mob__burg {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header-mob__burg:before {
  position: absolute;
  left: 0;
  top: -8px;
  content: ' ';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-mob__burg:after {
  position: absolute;
  left: 0;
  top: 8px;
  content: ' ';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-mob__burg.activeburg {
  background-color: transparent;
}

.header-mob__burg.activeburg:before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  background-color: #E41E24;
}

.header-mob__burg.activeburg:after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  color: #E41E24;
  background-color: #E41E24;
}

.header-logo {
  white-space: nowrap;
  position: relative;
  z-index: 16;
}

.header-link {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 790px;
}

.header-link ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 400px;
}

.header-link ul a {
  font-weight: bold;
}

.header-link ul a:after {
  display: none;
}

.header-contacts {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.header-contacts a {
  padding: 3px 0;
}

.header-contacts__number {
  position: relative;
  font-weight: bold;
  margin-left: 30px;
}

.header-contacts__number:after {
  display: none;
}

.header-contacts__number:before {
  content: '\e904';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
  left: -30px;
}

.header-contacts__mail {
  position: relative;
  margin-left: 30px;
}

.header-contacts__mail:before {
  content: '\e902';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
  left: -30px;
}

.header-button {
  position: relative;
  z-index: 16;
}

body.fixed {
  position: fixed;
}

@media (max-width: 1090px) {
  .header-link {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .header-button {
    display: none;
  }
}

.main-content {
  margin-top: 3%;
}

.main-content__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}

.main-content__inner a {
  display: flex;
  max-width: 200px;
}

.main-content__inner p {
  max-width: 25%;
}

.main-content__social {
  margin-top: 5%;
  position: relative;
}

.main-content__social svg {
  margin-right: 15px;
}

.main-content__present {
  position: absolute;
  right: 37%;
  top: 20%;
}

.main-content__present:before {
  content: '\e905';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
  left: -30px;
}

.main-content__present2 {
  margin-left: 30px;
}

.main-content__present2:before {
  content: '\e905';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
  left: -30px;
}

@media (max-width: 1090px) {
  .main-content__inner p {
    display: none;
  }
  .main-content__present {
    display: none;
  }
  .main-content__inner {
    height: 100%;
  }
  .main-content__social {
    display: none;
  }
  .main-content {
    margin-top: 25%;
  }
  .main-content__inner a {
    margin-bottom: 20px;
  }
}

.production {
  padding-top: 40px;
}

.production__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 270px));
  grid-auto-rows: 190px;
}

.production__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s linear;
  cursor: pointer;
}

.production__item:hover {
  box-shadow: 0px 0px 20px #E41E24;
  border-radius: 5px;
}

.production__item:hover p {
  color: #E41E24;
}

.production__item p {
  width: 200px;
  text-align: center;
  font-weight: normal;
  transition: 0.2s linear;
}

@media (max-width: 1090px) {
  .production {
    padding-top: 20px;
  }
  .production__item {
    flex-direction: row;
  }
  .production__item img {
    width: 100%;
    max-width: 130px;
    padding-right: 20px;
  }
  .production__item p {
    text-align: left;
  }
  .production__items {
    grid-auto-rows: 130px;
    margin-top: 20px;
    grid-column-gap: 30px;
  }
}

.main-servise {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 600px);
  grid-column-gap: 50px;
  margin-top: 40px;
}

.main-servise__left img {
  width: 100%;
}

.main-servise__left p {
  font-weight: normal;
  font-size: 17px;
}

.main-servise__right {
  position: relative;
}

.main-servise__right h2 {
  color: #E41E24;
  margin-top: 50px;
  margin-bottom: 45px;
}

.main-servise__right h3 {
  color: #808080;
  margin-bottom: 20px;
}

.main-servise__slider {
  display: flex;
  position: absolute;
  width: 125%;
  min-width: 936px;
  right: -20px;
  left: 0;
  height: 300px;
}

.main-servise__slider img {
  margin-right: 30px;
  background: linear-gradient(0deg, rgba(36, 36, 38, 0.5), rgba(36, 36, 38, 0.5));
}

.am-img {
  position: absolute;
  right: 0;
}

@media (max-width: 1490px) {
  .main-servise__left p {
    font-size: 14px;
  }
  .main-servise__left img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-servise {
    margin-top: 15px;
  }
  .main-servise__slider {
    min-width: auto;
  }
  .arrows.serv {
    bottom: 23%;
    max-width: 450px;
  }
  .am-img {
    width: 140px;
  }
}

@media (max-width: 1090px) {
  .main-servise {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-servise__slider {
    position: relative;
    min-width: 800px;
  }
  .arrows.serv {
    display: none;
  }
  .main-servise__right {
    overflow: hidden;
  }
  .main-servise__right p {
    display: none;
  }
  .main-servise__right h3 {
    display: none;
  }
  .main-servise__right h2 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 25px;
  }
  .am-img {
    width: 90px;
    top: 45px;
  }
}

.servise-list__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 270px));
  grid-auto-rows: 240px;
  grid-row-gap: 30px;
}

.servise-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s linear;
  cursor: pointer;
}

.servise-list__item:hover .servise-list__img {
  box-shadow: 0px 0px 20px #E41E24;
}

.servise-list__item:hover p {
  color: #E41E24;
}

.servise-list__item .servise-list__img {
  border-radius: 50%;
  transition: 0.2s linear;
}

.servise-list__item .servise-list__img img {
  width: 100%;
  height: 100%;
}

.servise-list__item p {
  width: 200px;
  text-align: center;
  font-weight: normal;
  transition: 0.2s linear;
  margin-top: 10px;
}

@media (max-width: 1090px) {
  .servise-list__item {
    flex-direction: row;
  }
  .servise-list__item img {
    width: 100%;
    max-width: 130px;
    padding-right: 20px;
  }
  .servise-list__item p {
    text-align: left;
  }
  .servise-list__items {
    grid-auto-rows: 130px;
    margin-top: 20px;
    grid-column-gap: 30px;
  }
}

.main-servise__left p {
  margin-bottom: 10px;
}

.cart__inner {
  display: grid;
  grid-template-columns: 72% minmax(200px, 400px);
  grid-column-gap: 150px;
}

.cart__left img {
  float: right;
  width: 100%;
}

.cart__right ul li {
  margin-bottom: 30px;
}

.cart__right ul li a {
  transition: 0.2s linear;
  color: #808080;
}

.cart__right ul li a::after {
  display: none;
}

.cart__right ul li a:hover {
  color: #E41E24;
}

.cart__all {
  margin-top: 80px;
}

.cart__inner {
  margin-top: 40px;
}

.cart-slider__item {
  display: flex !important;
}

.cart-slider__item img {
  max-width: 400px;
  height: 100%;
}

.cart-left__text a {
  margin-top: 30px;
}

.cart-left__text h1 {
  margin-bottom: 50px;
}

.cart-left__text p {
  max-width: 500px;
}

@media (max-width: 1490px) {
  .cart-slider__item img {
    max-width: 300px;
  }
  .cart__all {
    margin-top: 50px;
  }
  .arrows.main.cart {
    bottom: -12%;
  }
  .cart__left .slider__counter {
    bottom: -14%;
  }
  .cart__inner {
    grid-column-gap: 85px;
  }
}

@media (max-width: 1290px) {
  .cart__inner {
    grid-column-gap: 65px;
  }
}

@media (max-width: 1090px) {
  .cart__inner {
    display: flex;
    flex-direction: column;
  }
  .cart__right {
    display: none;
  }
  .cart-slider__item img {
    position: absolute;
    max-width: 220px;
    right: -60px;
    bottom: 0;
    height: auto;
  }
  .cart-left__text {
    position: relative;
    z-index: 2;
  }
  .cart-left__text h1 {
    margin-bottom: 20px;
  }
  .cart__left .slick-list {
    overflow: visible;
    width: 100%;
  }
  .cart__left .slick-slider {
    display: flex;
    justify-content: center;
  }
  .cart__left .slider__counter {
    right: auto;
    top: 110%;
  }
}

.portfolio__inner h1 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.portfolio__slider {
  display: flex;
  align-items: center;
}

.portfolio__slider1 {
  max-width: 600px;
  height: 100%;
}

.portfolio__slider2 {
  width: 800px;
  margin-left: 20px;
}

.portfolio__slider2 img {
  margin-right: 20px;
  max-width: 300px;
  height: 300px;
}

.portfolio-slider2__img {
  margin-right: 20px;
  width: 300px;
  height: 300px;
  background-position: center !important;
  background-size: cover !important;
}

.portfolio-slider__item {
  display: flex !important;
  align-items: flex-end;
}

.portfolio-slider__item img {
  max-width: 350px;
  height: 370px;
}

.portfolio-list__inner {
  padding-top: 30px;
  display: flex;
}

.portfolio-list__left {
  min-width: 250px;
  margin-right: 40px;
}

.portfolio-list__left h3 {
  padding-bottom: 20px;
}

.portfolio-list__left li {
  margin-bottom: 20px;
}

.portfolio-list__left a {
  color: #808080;
  font-size: 17px;
  transition: 0.2s linear;
}

.portfolio-list__left a:after {
  display: none;
}

.portfolio-list__left a:hover {
  color: #E41E24;
}

.portfolio-list__right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 230px));
  grid-gap: 20px;
}

.portfolio-list__item {
  width: 230px;
  height: 230px;
  position: relative;
  background-color: #242426;
  transition: 0.2s linear;
  cursor: pointer;
}

.portfolio-list__item img {
  width: 100%;
  transition: 0.2s linear;
  height: 100%;
}

.portfolio-list__item p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  opacity: 0;
  transition: 0.2s linear;
}

.portfolio-list__item:hover {
  box-shadow: 0px 0px 20px #E41E24;
}

.portfolio-list__item:hover p {
  opacity: 1;
}

.portfolio-list__item:hover img {
  opacity: 0.5;
}

.arrows.portf {
  top: 800px;
}

.portfolio-cart__text {
  margin-bottom: 10px;
}

@media (max-width: 1490px) {
  .portfolio__inner h1 {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .portfolio-slider2__img {
    height: 250px;
  }
  .portfolio__slider2 {
    width: 700px;
  }
  .portfolio-slider__item img {
    max-width: 300px;
    height: 320px;
  }
  .arrows.main.portfolio {
    right: 12%;
  }
  .portfolio__slider2 .slider__counter {
    bottom: -7%;
    right: 12%;
  }
  .portfolio__slider2.slick-slider {
    position: static;
  }
  .arrows.portf {
    top: 580px;
  }
}

@media (max-width: 1090px) {
  .portfolio-slider__item {
    flex-direction: column-reverse;
    align-items: start;
  }
  .portfolio__slider {
    align-items: start;
  }
  .portfolio__slider1 {
    max-width: 250px;
  }
  .portfolio-slider__item img {
    height: 250px;
    width: 100%;
  }
  .portfolio__inner h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .arrows.main.portfolio {
    display: none;
  }
  .portfolio__slider2 .slider__counter {
    display: none;
  }
  .portfolio-list__left {
    display: none;
  }
  .portfolio-list__right {
    justify-content: center;
  }
}

.news__inner {
  display: flex;
  justify-content: space-between;
}

.news__inner h1 {
  margin-top: 60px;
}

.news-inner__items {
  display: flex;
}

.news-inner__item {
  max-width: 270px;
  margin-right: 30px;
}

.news-inner-item__data {
  display: flex;
  margin-bottom: 20px;
}

.news-inner-item__data h4 {
  margin-right: 5px;
  color: #808080;
}

.news-inner-item__data p {
  color: #808080;
}

.news-inner-item__img {
  margin-bottom: 20px;
  width: 100%;
  transition: 0.2s linear;
}

.news-inner-item__img img {
  width: 100%;
  height: 215px;
}

.news-inner-item__text p {
  transition: 0.2s linear;
}

.news-inner__item {
  cursor: pointer;
}

.news-inner__item:hover .news-inner-item__img {
  box-shadow: 0px 0px 20px #E41E24;
}

.news-inner__item:hover .news-inner-item__text p {
  color: #E41E24;
}

.news-list__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 270px));
  /* grid-auto-rows: 240px; */
  grid-row-gap: 45px;
}

@media (max-width: 1490px) {
  .news-inner__item {
    max-width: 160px;
  }
  .news-inner-item__img img {
    height: 120px;
  }
  .news-inner-item__data {
    margin-bottom: 5px;
  }
  .news .cart__all {
    margin-top: 40px;
  }
  .news-inner-item__img {
    margin-bottom: 5px;
  }
}

@media (max-width: 1090px) {
  .news__inner {
    display: block;
  }
  .news__inner h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .news-inner__items {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .news-inner__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .news-inner-item__img img {
    width: auto;
  }
  .news-list__items {
    grid-column-gap: 20px;
  }
  .news-inner-item__img.list img {
    height: 100%;
  }
}

.footer__inner {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  position: relative;
}

.footer__inner a:after {
  display: none;
}

.footer__inner:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.footer-inner__item {
  display: flex;
  flex-direction: column;
}

.footer-inner__item h4 {
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 20px;
}

.footer-inner__item h5 {
  color: #E41E24;
  font-size: 17px;
  margin-bottom: 6px;
}

.footer-inner__item .header-contacts a {
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer-inner__item .main-content__social {
  margin-bottom: 30px;
}

.footer-inner__item .main-content__present2 {
  margin-bottom: 8px;
}

.footer-inner-item__list {
  display: flex;
}

.footer-inner-item__list a {
  font-weight: normal;
}

.footer-inner-item__list ul {
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
}

.footer-inner-item__list ul li {
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer__bottom-line {
  margin-top: 90px;
  color: #808080;
  font-size: 14px;
}

.footer-inner-item__list.mobile {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s linear;
}

.burger-menu__btn.mobile {
  width: fit-content;
}

.burger-menu__btn.mobile:after {
  border: none;
  color: #E41E24;
  font-size: 9px;
}

.footer__inner.mobile:before {
  content: '';
  display: block;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}

@media (max-width: 1490px) {
  .footer__inner {
    margin-top: 25px;
  }
  .footer__inner:after {
    bottom: 30px;
  }
  .footer-inner__item h4 {
    margin-bottom: 10px;
  }
  .footer-inner-item__list ul li {
    margin-bottom: 5px;
  }
  .footer-inner-item__list ul {
    margin-bottom: 20px;
  }
  .footer-inner__item .header-contacts a {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-inner__item .main-content__social {
    margin-bottom: 15px;
  }
  .footer__bottom-line {
    margin-top: 25px;
  }
}

.footer__inner.mobile {
  flex-direction: column;
  margin-top: 50px;
  display: none;
}

.footer__inner.mobile:after {
  bottom: 85px;
}

@media (max-width: 1090px) {
  .footer.main {
    display: none;
  }
  .footer__inner.mobile {
    display: flex;
  }
}
